body { margin: 0px; padding: 0px; background-color: grey; }

div { position: absolute; }

sub {
    font-size: 0.7em;
    display: inline;
    vertical-align: baseline;
    position: relative;
    top: 0.265em;
}

.ad_size { width: 100%; height: 100%;}

#main, #clicktag, #whiteout, #border, #content {
    position: absolute; top: 0px; left: 0px;
}

#whiteout { background-color: black; }

/* #border { border: 1px solid #cccccc; } */

#content {
    background-color: white;
    overflow: hidden;

    perspective: 1000px;
}

#plinth {
    width: auto; height: auto; position: absolute;
    transform: translate3d(0px, 0px, 0px) scale(0.5) rotate(0.01deg);
    transform-origin: bottom right;

    bottom: 30px; right: 30px;
}

.images {
    transform: translate3d(0px, 0px, 0px) scale(1) rotate(0.01deg);
    position: absolute; top: 0px; left: 0px;
    width: auto; height: auto;
}

.images100 {
    transform: translate3d(0px, 0px, 0px) scale(1) rotate(0.01deg);
    position: absolute; top: 0px; left: 0px;
    width: 100%; height: 100%;
}

#bg_blank, #coastForeground {
    width: auto; height: auto; transform-origin: left top;
}

#car {
    width: 100%; height: 200%; background-size: contain; background-repeat: no-repeat;
    background-position: 50% 50%; top: -50%;
}

/* ------------------------------ Fonts - start ----------------------------- */

@font-face {
    font-family: FordAntenna-Light;
    src: url(FordAntenna-Light.woff);
}

@font-face {
    font-family: Ford_Antenna_Cond_ExtraLight;
    src: url(FordAntennaCond-Light.woff);
}

/* ------------------------------ Fonts - end ----------------------------- */

/* ------------------------------ Copies - start ----------------------------- */



.copies {
    opacity: 0;
    width: 49%;
    height: 28.5%;
    text-align: left;
    top: 3%; left: 30px;
    font-size: 35px;
    line-height: 120%;
    color: #ffffff;

    letter-spacing: 0.05em;

    font-family: Ford_Antenna_Cond_ExtraLight, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    display: flex;
    align-items: flex-start;
}

.aligner {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;

    width: 100%; height: 87%; 
}

#copy_1_container {
    height: 34%;
}

#copy_1 {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;

    width: 57%;
    height: 65%;
    
    font-size: 60px;
    line-height: 115%;

    position: relative;
}

#copy_3 {
    width: 20%; height: 3.75%; top: 32%;
}

/* IE fix */
    @media screen and (min-width:0\0) {
        #copy_3 {
            margin-top: -2px;
        }
    }

#copy_4 {
    width: 49%;
    height: 21.5%;
    top: 45%;
}

#copy_5 {
    width: 37%; height: 3.5%; 
    white-space: nowrap;

    font-size: 30px;
}

/* IE fix */
@media screen and (min-width:0\0) {
    #copy_5 {
        margin-top: 4px;
    }
}

#carName {
    width: 65%;
    height: 18%;
    line-height: 115%;
    
    top: 4%; left: 30px;

    font-size: 55px;

    white-space: nowrap;
}   

#footer {
    width: 100%; height: 100%;
}

#disclaimer {
    width: 60%;
    height: auto;
    text-align: left;
    bottom: 10px;
    letter-spacing: 0.05em;
    font-size: 20px;
    line-height: 100%;
    color: #ffffff;
    font-family: Ford_Antenna_Cond_ExtraLight, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    opacity: 1;
}

/* price frame */
#from {     
    width: 20%; height: 3.75%; /* <- same as copy_3 */
    line-height: 100%;

    font-size: 30px;
}

#price {
    width: 51%; height: 13.5%;

    font-size: 100px;
    line-height: 100%;
    letter-spacing: 0.05em;

    display: flex; align-items: baseline; 
    /* flex-direction: row; */

}

#priceEnd {
    letter-spacing: 0.05em;
}

    /* IE fix */
    @media screen and (min-width:0\0) {
        #price {
            margin-top: 3px;
        }
    }

/* ------------------------------ Copies - end ----------------------------- */

 /* ------------------------------ CTA - Start ----------------------------- */
 
 #cta_all {
    position: absolute;
    min-width: 280px; max-width: 290px;
    min-height: 50px; max-height: 100px;

    bottom: 30px; left: 30px; opacity: 1;

    display: flex; display: -webkit-flex;
    flex-direction: column; justify-content: center; align-items: center;
 }

 .cta_position {
    width: auto; height: auto; position: absolute;
 }


 #cta_1 {
    color: #ffffff; backface-visibility: hidden;
    max-width: 290px; min-height: 22px;

    font-family: FordAntenna-Light;
    font-size: 22px; line-height: 22px;
    text-align: center; letter-spacing: 0.6px;

    /* white-space: nowrap; */

    margin-top: 0px;


    padding: 0 20px 0 20px;
 }

 /* cta Mozilla fix */
 @-moz-document url-prefix() { #cta_1 { margin-top: -1px; } }

 /* cta IE fix */
 @media screen and (min-width:0\0) {
    #cta_all { display: block; width: inherit; height: inherit; }
    #cta_1 { top: 50%; left: 50%; transform: translate(-50%,-50%); margin-top: 1px; }
 }

 #cta_1_bg {
    background-color: #2d96cd;
    width: 100%; height: 100%;
 }

 #cta_2_bg {
    background-color: #ffffff;
    border: #1b394e 1px solid;
    width: 100%; height: 100%; opacity: 0;
 }



 @keyframes cta_animation_in {
    0%      {opacity: 0;}
    75%     {opacity: 1;}
    100%    {opacity: 1;}
 }

 @keyframes cta_animation_out {
    0%      {opacity: 1;}
    25%     {opacity: 1;}
    100%    {opacity: 0;}
 }



/* ------------------------------ CTA - End ----------------------------- */

/* ------------------------------ Terms - Start ----------------------------- */

sub {
    display: inline; vertical-align: baseline;
    position: relative;
    top: 3px;
}

#terms_btn {
    position: absolute;    

    left: 20px;
    top: 123px;
    width: 174px;
    height: 22px;

    opacity: 0;
    background-color: aqua; cursor: pointer;
    display: none;
}

#terms_copy {
    position: absolute; 
    width: auto;
    bottom: 10%; height: 2%;
    text-align: left;
    left: 30px; 

    letter-spacing: 0.05em;
    font-size: 20px;
    line-height: 0;
    color: #ffffff;
    font-family: Ford_Antenna_Cond_ExtraLight, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    white-space: nowrap;
    opacity: 0;

    display: flex;
    justify-content: end;
    align-items: center;
}

#terms_overlay {
    width: 100%; height: 100%;
    position: absolute; top: 0px; left: 0px; opacity: 0;

    background-color: black;
}

#terms_text_container {
    height: 42%;
}

#terms_text {
    opacity: 0;

    top: 0;

    width: 93%;
    height: 45%;

    font-size: 18px;

    letter-spacing: 0.014em;
    display: block;

    /* order: 0;
    flex: 0 1 auto;
    align-self: auto; */
    position: relative;
}

@keyframes terms_overlay_animation_over {
    0%      {opacity: 0;}
    100%    {opacity: 0.7;}
}

@keyframes terms_overlay_animation_out {
    0%      {opacity: 0.7;}
    100%    {opacity: 0;}    
}

@keyframes terms_text_animation_over {
    0%      {opacity: 0;}
    100%    {opacity: 1;}
}

@keyframes terms_text_animation_out {
    0%      {opacity: 1;}
    100%    {opacity: 0;}    
}

/* ------------------------------ Terms - End ----------------------------- */




/* ------------------------------ bg1 Clouds - Start ----------------------------- */
#cloudsScale {
    background-repeat: repeat;
    position: absolute;
    transform: scale(1);
    transform-origin: left top;

    top: 0; left: 0; width: 100%; height: 333px;
}

#clouds {
    position: absolute;
    background-repeat: repeat-x;
    background-position: -100px 0;
    background-size: contain;
    width: 2950px; height: 142px; 

    opacity: 0.7;
}

/* ------------------------------ bg1 Clouds - End ----------------------------- */


/* ------------------------------ bg2 Coast - Start ----------------------------- */
#flare {
    transform: scale(1) rotate(0.001deg); display: block;

    opacity: 1;
}

/* ------------------------------ bg2 Coast - End ----------------------------- */

/* ------------------------------ bg3 - clouds Start ----------------------------- */

#bg3Wrapper {
 
}

#bg3_gradient {
    position: absolute;
    height: auto;
    left:0; top: 0; 
    object-fit: contain;
}

#bg3_sky {
    position: absolute;
    left:0; top: 0; height: auto;
    object-fit: contain;
}

#bg3CloudsBig {
    width: 1735px; height: 137px; top: 0; left: 0;
    background-repeat: repeat-x;
    transform-origin: left top;
    transform: scale(0.7) rotate(0.001deg);
    background-size: contain;
    opacity: 0.5;
}

#bg3CloudsSmall {
    width: 1735px; height: 137px; top: 0; left: 0;
    background-repeat: repeat-x;
    transform-origin: left top;
    transform: scale(0.6, 0.36) rotate(0.001deg);
    background-size: contain;
    opacity: 1;

    -moz-transform: scaleY(-0.6, 0.36);
    -o-transform: scaleY(-0.6, 0.36);
    -webkit-transform: scaleY(-0.6, 0.36);
    transform: scaleY(-0.6, 0.36);
    filter: FlipV;
    -ms-filter: "FlipV";
}

/* ------------------------------ bg3 - clouds End ----------------------------- */